* {
  margin: 0;
  padding: 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
}




.header {
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr;
}


#one {
  display: flex;
  justify-content: flex-start;
  background: #63b0e2;
  margin: 2px;
  padding: 2px;
}


#one p {
  font-size: 25px;
  margin-left: 50px;
  color: azure;
}


#save {
  margin: 10% 30%;
  border-style: solid;
  border-color: azure;
  border-width: 5px;
  font-size: larger;
  background: none;
  color: azure;
  padding: 10px;

}

.fa-solid {
  /* color: azure; */
  color: red;
}

.footer {
  display: flex;
  justify-content: start;

}

#box {
  border: 1px solid black;
  width: 50%;
  height: 900px;
  /* opacity: 0.6; */
  background: rgba(0, 0, 0, 0.5);
  border: none;
}


#box2 {
  border: 1px solid black;
  width: 50%;
  height: 900px;
  border: none;

  background: rgb(255, 254, 253);
}

form {
  margin-left: 5%;
  color: black;
  margin-top: 40px;
  /* font-style: italic; */
}

#fname {
  height: 50px;
  width: 500px;
  border: 1px solid red;
  padding: 15px;

}

#para {
  line-height: 2;
  letter-spacing: 0.5px;
  font-size: 20px;
  display: flex;

  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.trait {
  display: flex;
  justify-content: end;

  margin-left: 50px;
  padding: 10px;

}

.dot {
  height: 20px;
  width: 20px;
  background-color: green;
  border-radius: 50%;
  display: inline-block;
  margin-left: 33px;

}


.dot1{
  height: 20px;
  width: 20px;
  background-color: green;
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px;
}

#schema{
  height: 50px;
  width: 500px;
  font-size: larger;
  padding: 10px;
}

.fa-solid fa-square-minus{
  color: red;
  margin-left: 30px;
}


a{
  color: red;
  margin: 40px;
  padding: 10px;
  border-bottom: none;
  border-bottom: 1px solid #63b0e2;
  cursor: pointer;
}

.savesegment{
  display: flex;
  justify-content:left;
  margin-top: 150px;
  justify-content: space-between;
}

.btn-save{
  height: 50px;
  width: 150px;
  color:azure;
  border-radius:2px ;
  border: none;
 
  background-color:#63b0e2 ;
}